In [1]:
SELECT
    f.name AS facility_name,
    SUM(
        CASE
            WHEN b.memid = 0 THEN b.slots * f.guestcost
            ELSE b.slots * f.membercost
        END
    ) AS total_revenue
FROM Facilities f
JOIN Bookings b
    ON f.facid = b.facid
GROUP BY f.facid, f.name
HAVING SUM(
        CASE
            WHEN b.memid = 0 THEN b.slots * f.guestcost
            ELSE b.slots * f.membercost
        END
    ) < 1000
ORDER BY total_revenue;

IndentationError: unexpected indent (3494606762.py, line 2)

In [ ]:
SELECT
    m.surname,
    m.firstname,
    r.surname AS recommender_surname,
    r.firstname AS recommender_firstname
FROM members m
LEFT JOIN members r
    ON m.recommendedby = r.memid
ORDER BY
    m.surname,
    m.firstname;

In [ ]:
SELECT
    f.name AS facility_name,
    m.firstname || ' ' || m.surname AS member_name,
    SUM(b.slots) AS total_slots
FROM Bookings b
JOIN Facilities f
    ON b.facid = f.facid
JOIN members m
    ON b.memid = m.memid
WHERE b.memid <> 0
GROUP BY
    f.name,
    m.firstname,
    m.surname
ORDER BY
    f.name,
    member_name;

In [ ]:
SELECT
    f.name AS facility_name,
    DATE_FORMAT(b.starttime, '%Y-%m') AS month,
    SUM(b.slots) AS total_slots
FROM Bookings b
JOIN Facilities f
    ON b.facid = f.facid
WHERE b.memid <> 0
GROUP BY f.name, DATE_FORMAT(b.starttime, '%Y-%m')
ORDER BY f.name, month;